<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DlibDotNet" version="19.21.0.20210302" targetFramework="net472" />
  <package id="DlibDotNet.CUDA111" version="19.21.0.20210302" targetFramework="net472" />
  <package id="DlibDotNet.CUDA112" version="19.21.0.20210302" targetFramework="net472" />
  <package id="System.Drawing.Common" version="5.0.1" targetFramework="net472" />
</packages>